

 /* Custom styles for icon placement */
 body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin-right: 0.5rem;
}

.social-icons {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.social-icons a {
    margin-left: 3rem; /* Adjust the spacing between social icons */
    color: black; /* Adjust the color of social icons */
    font-weight: 700;

}


.fa-facebook:hover{
    color: #1877F2 ;
}
.fa-youtube:hover{
color: #CD201F;
}
.fa-instagram:hover{
    color: rgb(226, 41, 16);
}
/* Custom styles to center brand */
.navbar-brand {
    position: absolute;
    left: 50%;

    transform: translateY(0%);

}
/* Custom styles for the hero section */
.hero {
    margin-top: 7rem;
    text-align: center;
    color: black;
    display: flex;
    justify-content: end;
  border: 2px solid #CD201F;
border-top-left-radius: 20%;
background-image:linear-gradient(to right,white ,#bea493);
align-items: center;
overflow: hidden;
}

    .hero img{
        max-width: 100%;
    height:auto;
        margin-left:1em ;
        border-radius: 10%;
        object-fit: contain;
    }



/* Custom styles for the toggle button */
.navbar-toggler {
border: none; /* Remove borders */
font-weight: 700; /* Make it bold */
}
.navbar-brand img{
    height: auto;
    max-width: 2rem;
    object-fit: cover;


}


/* Media query for small screens */
@media (max-width: 767px) {

img {
    width: 100%;
    height: auto;

    object-fit: cover;
}
.about-text{
    margin-left: 8rem;
    text-align: center;
    margin-top: -30%;
    
}
.about .line{
    margin-bottom: -2rem;
    translate: 10px;
}

.social-icons a{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
}



.navbar-brand{
    left: 50%;
    
    margin-left: 1.5rem;
    transform: translateY(-20%);

    
}

.navbar-brand img{
    height: auto;
    max-width: 5rem;
    object-fit: cover;
    margin-left: 2rem;
}
 .first{
    margin-top: 3rem;
}
.hero-image{
    width:100%;
margin-right: 1.5rem;
    padding:0;
    opacity: 0; /* Initially set to transparent */
    animation: fadeInImage 2s forwards; /* Fade-in animation with a delay */

}
.hero h1{
    margin: 2rem;
}
}


.hero h1{
    letter-spacing: 0.5rem;
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    background-image: linear-gradient(to right, #fe2c54,#5e0231);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-shadow: 2px 2px 4px #000000;
}

.signature{
font-family: 'Great Vibes';
color: #CD201F;
font-weight: bolder;
}

@media (min-width: 767px) and (max-width: 1005px) {
.navbar-brand img{
margin-left: 4rem;
}


}



@media (min-width: 993px) and (max-width: 1016px) {
.navbar-brand img{
margin-right: 7rem;
translate: -4rem;
}


}


@media (min-width: 768px) and (max-width: 991px) {
.hero h1{
letter-spacing: normal;

}


}

@media (max-width: 390px){

.social-links a{
font-size:0.2rem;
margin-left: -1rem;

}
.navbar-brand{
transform: translate(-40%,50%);

}
.navbar-brand img{
width: 1000px;
height: auto;
}
.navbar{
position: relative;
margin-bottom: -30%;
box-shadow: none;

}
.navbar-toggler{
position: absolute;
top: 1rem;
right: 0;

}
}
.hero p{
background-color: #bea493;
text-align: center;
margin-top: -3rem;
border-radius: 10%;
font-family: "cinzel";

}

.line{
width: 70%;
height: 0.2rem;
background-color: #CD201F;
margin-bottom: 4rem;
margin-left: 20%;
}

.hero-text{
opacity: 0; /* Initially set to transparent */
    animation: fadeInText 1.5s forwards; /* Fade-in animation */
    transform: translateY(0); /* Initial position for parallax effect */
    transition: transform 0.5s ease-in-out; /* Parallax effect */
}


@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

@keyframes fadeInImage {
    to {
        opacity: 1;
    }
}

.hero-links a{
    margin-bottom: 1rem;
    border: 1px solid #CD201F;
    
}
.hero-links a:hover{
    color:white ;
    background-color: #CD201F;
}

.portfolio-link {
    background-color: #CD201F;
    margin-bottom: 1rem;
    color: white;
}
.portfolio-link:hover{
    color: #CD201F;
    background-color: #f7f2ee;
    border: 2px solid #CD201F;
}
.about p{
    text-indent: 0.5rem;
}
.about-text{
    font-family: "";
    transform: scale(1.2);
    translate: -4rem;
    background-color: white;
    text-align: center;
}
.about{                         
    background-color:#f7f2ee;
    padding: 1rem;
}
.about a{
    color: #CD201F;
    font-weight:700;

    text-transform: capitalize;
}
.about a:hover{
    color :white;
    background-color:#CD201F;
}

.animated {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

 /* Additional styles if needed */
 .card {
    position: relative;
}

.card-img-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and transparency */
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.card h5{
    font-weight: 700;
    font-size: 2rem;
}

.infos h5{
    
    font-family: 'cinzel';
    font-size: 700;
    background-image: linear-gradient(white,white);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-shadow: 2px 2px 4px #CD201F;
color: #CD201F;
}

#portfolioModal  img{
    width: 100vw;
    height: auto;
    object-fit: cover;
    background-color: transparent;
}


#carouselExampleControls img{
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .lash{
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: white
    }
    .lash-line{
        display: none;
    }
}

.bride{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.bridal{
    background-color: #f7f2ee;
}
.bridal h2{
    color: #CD201F;
    font-weight: 700;
}
.bridal{
    color: black;
}
  
.businesses{
    
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel';
    letter-spacing: 0.5rem;

}

.businesses h5:hover{
    text-decoration: underline;
}
.busy{
    align-items: center;
    justify-content: space-between;

}
.busy a{
    color: #CD201F;

    font-weight: 700;
}

.business{
    background-color: #f7f2ee;
}



  /* Animation for image overlay */
  .businesses .card-img-overlay {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .businesses:hover .card-img-overlay {
    opacity: 1;
  }

  /* Animation for business descriptions */
  .thrift-desc,
  .lash-desc {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .busy:hover .thrift-desc,
  .busy:hover .lash-desc {
    opacity: 1;
    transform: translateY(0);
  }


  
@media  (max-width: 768px) {
  
  .busy .thrift-desc,
  .busy .lash-desc {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }

}

  /* Animation for lines */
  .lash-line {
    width: 0;
    border-top: 2px solid #dc3545; /* Use your preferred color */
    transition: width 0.5s ease-in-out;
  }

  .busy:hover .lash-line {
    width: 50%;
  }

  
  /* Animation for card overlay */
  .infos .card-img-overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .infos .card:hover .card-img-overlay {
    opacity: 1;
  }
@media(max-width:768px){
  .infos .card-img-overlay{
    opacity: 1;
  }
  .infos h5:hover{
    text-decoration: underline;
    text-decoration-color: white;
    
  }
  
}



  /* Navbar and links animation */
.navbar {
    transition: background-color 0.5s ease-in-out;
}

.navbar a.nav-link {
    transition: color 0.3s ease-in-out;
}

/* Add a class to the navbar when it's scrolled */
.navbar-scrolled {
    background-color: #CD201F; /* Change to the desired background color */
}
        

/* Animation for the social icons */
.social-icons i {
    transition: color 0.3s ease-in-out;
}


.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #CD201F;
    font-size: 24px;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    animation: fadeInDown 1s ease-out 3s forwards; /* Fade in after 3 seconds */
}



.hero-text,.about-image{
    animation: fadeInLeft 1s ease-out forwards;
}

.hero-image,.about-text {
    animation: fadeInRight 1s ease-out forwards;
}




h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #CD201F;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #CD201F;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #CD201F;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: #CD201F;
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}